body {
	padding-top: 130px;
	min-height: 100%;
	position: relative;
	padding-bottom: 125px;
}

.navbar.navbar-default {
	border-radius: 0 !important;
}

/*header.navbar-fixed-top .navbar.navbar-default {
	-webkit-box-shadow: -20px -16px 18px 30px #eceef0;
	-moz-box-shadow:    -20px -16px 18px 30px #eceef0;
	box-shadow: -20px -16px 18px 30px #eceef0;
	z-index: 999;
}*/

header .navbar-brand {
	display: block;
	background: url("../img/logo.png") no-repeat;
	padding: 20px 11px 15px 70px !important;
	margin-right: 60px !important;
	background-position-y: 7px;
	color: #336699 !important;
	line-height: 20px !important;
  height: 70px !important;
}

header .nav.navbar-nav > li > a {
	padding: 24px 10px !important;
	color: #336699 !important;
}

header .nav.navbar-nav > li {
	border-radius: 0 !important;
}

header .nav.navbar-nav li a {
}

header .nav.navbar-nav li:hover {
	background-color: #a3a3a4 !important;
}

header .nav.navbar-nav li a:hover {
	color: #eceef0 !important;
}

header .navbar-brand small {
	font-size: 16px;
	color: #33CC99;
}

header .navbar .navbar-form {
	margin: 0;
	padding: 20px 5px 19px 20px;
	max-width: 229px;
}

header .btn.btn-language {
	padding: 4px 4px 4px 10px !important;
}

header .breadcrumb {
	border-radius: 6px 0 0 6px;
}

header .btn-group {
	float: right;
}

header .btn-group .btn-toolbar.pull-right .btn.active
{
	border-radius: 0;
}

header .container {
	padding-right: 0;
}


#content-wrapper {
	min-height: 600px;
}
#content-wrapper .col-md-3 .affix {
	width: 20%;
	margin-top: -30px;
}

.offer-list {
	list-style: none;
	padding: 0;
}

.offer-list .offer img {
	width: 150px;
	height: 150px;
	border-radius: 6px 0 0 6px;
}
.offer-list .offer {
	display: block;
	height: 150px;
	margin-bottom: 20px;
	width: 100%;
	border-radius: 6px;
}
.offer-list .offer a {
	display: block;
	width: 100%;
	height: 100%;
	background: #ededed;
	border-radius: 6px;
}

ul.list-group-item  {
	width: 100%;
	display: block;
	list-style: none;
	overflow: auto;
	padding: 0;

}
ul.list-group-item li {
	margin-bottom: 1px;
	padding: 0;
	height: 100%;
	width: 33%;
	display: inline-block;
	border-left: 1px solid #dddddd;
	float: left;
	text-align: center;
}

ul.list-group-item li.big {
	width: 66%;
	text-align: left;
	padding-left: 10px;

}

ul.list-group-item li:first-child {
	border: none;
}

.step-buttons {
	margin: auto;
}

.list-group .list-group-item a {
	color: #333333;
}

.list-group .list-group-item a:hover {
	text-decoration: underline;
}

.panel .progress {
	height: 30px;
	border-radius: 6px !important;
}
/*.offer a {
	color: #222222;

}

.offer a:hover {
	color: #4E7E9F;
	text-decoration: underline;
}*/

.offer-list .offer a:hover h6 {
	/*color: #eceef0 !important;*/
}

.offer-list .offer .offer-container {
	padding: 0 10px;
	width: calc(100% - 10px - 150px);
}

.bootstrap-select > .open > .dropdown-menu {
  visibility: hidden;
  margin-top: 0 !important;
}
.bootstrap-select > .dropdown-menu {
  margin-top: 18px !important;

}
.bootstrap-select.open > .open > .dropdown-menu {

  visibility: visible;
}


.item-details {
	list-style: none;
}

.item-details .li {

}

.item-create .fileinput-button-wrapper {
  position: absolute;
  display: block;
  width: 200px;
  height: 200px;
  top: 0;
  padding: 130px 45px 0 45PX;
  visibility: hidden;
}

.item-create .fileinput {
  display: inline-block;
  margin: 2%;
  position: relative;
}

.item-create .fileinput:hover .fileinput-button-wrapper {
  visibility: visible;
}

.item-create .btn-file {

}
.conversation-list .conversation {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #bdc3c7;
  border-left-width: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.conversation-list .conversation:hover {
  border-left-color: #2a6496;
  background: #f2f2f2;
}

.conversation-list .conversation img {
 float: left;
 margin: 0 10px 0 0;
}

.conversation-list .conversation h4 {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

.conversation-list .conversation p {
  margin: 0;
}


.message-list .message {
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  min-height: 100px;
}



.message-list .message:before,
.message-list .message:after {
  content: ' ';
  display: table;
}
.message-list .message:after {
  clear: both;
}

.comment-list .comment:before,
.comment-list .comment:after {
  content: ' ';
  display: table;
}

.comment-list .comment:after {
  clear: both;
}

.comment-list .comment {
  margin-bottom: 20px;
}

.message-list .message .fui-, .comment-list .comment img {
  display: block;
  float: left;
  margin: 0 10px 0 0;
}

.message-list .message h4, .comment-list .comment h4 {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

.message-list .message p, .comment-list .comment p {
  float: left;
  margin: 0;
  width: 100%
}

.conversation-wrapper .btn-send, #review-tab .btn-send {
  position: absolute;
  right: 10px;
  bottom: 10px;
}


#grid[data-columns]::before {
	content: '5 .column.size-1of5';
}

/* These are the classes that are going to be applied: */
.column {
	float: left;
}
.size-1of5 { width: 20%; }

/* Also, don't forget to add this: */
[data-columns]::before { display: none; }

#grid .offer {
	margin: 0 10px 50px 20px;
}

.files > div {
	float: left;
	margin: 0 20px 0 0;
}

.alert p {
	font-size: 18px !important;
	line-height: 1.72222 !important;
}

/* callouts */

/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.callout {
	margin: 20px 0;
	padding: 20px;
	border-left: 3px solid #eee;
}
.callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}
.callout p:last-child {
	margin-bottom: 0;
}

/* Variations */
.callout-danger {
	background-color: #fdf7f7;
	border-color: #eed3d7;
}
.callout-danger h4 {
	color: #b94a48;
}
.callout-warning {
	background-color: #faf8f0;
	border-color: #faebcc;
}
.callout-warning h4 {
	color: #8a6d3b;
}
.callout-info {
	background-color: #f4f8fa;
	border-color: #bce8f1;
}
.callout-info h4 {
	color: #34789a;
}


/* glue: 0.3 hash: cee3d8ad7e */
.sprite-language-se,
.sprite-language-ru,
.sprite-language-fr,
.sprite-language-fi,
.sprite-language-es,
.sprite-language-en,
.sprite-language-de,
.sprite-language-cn{background-image:url('../img/flags/language/language.png');background-repeat:no-repeat; display: block;}
.sprite-language-se{background-position:0px 0px;width:35px;height:24px;}
.sprite-language-ru{background-position:-35px 0px;width:35px;height:24px;}
.sprite-language-fr{background-position:0px -24px;width:35px;height:24px;}
.sprite-language-fi{background-position:-35px -24px;width:35px;height:24px;}
.sprite-language-es{background-position:-70px 0px;width:35px;height:24px;}
.sprite-language-en{background-position:-70px -24px;width:35px;height:24px;}
.sprite-language-de{background-position:0px -47px;width:35px;height:24px;}
.sprite-language-cn{background-position:-35px -47px;width:35px;height:24px;}
@media only screen and (-webkit-min-device-pixel-ratio: 2.0), only screen and (min--moz-device-pixel-ratio: 2.0), only screen and (-o-min-device-pixel-ratio: 200/100), only screen and (min-device-pixel-ratio: 2.0) {.sprite-language-se,
.sprite-language-ru,
.sprite-language-fr,
.sprite-language-fi,
.sprite-language-es,
.sprite-language-en,
.sprite-language-de,
.sprite-language-cn{background-image:url('../img/flags/language/language@2x.png');-webkit-background-size: 105px 70px;-moz-background-size: 105px 70px;background-size: 105px 70px;}}

.fileinput-button {
	position: relative;
	overflow: hidden;
}
.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px;
	direction: ltr;
	cursor: pointer;
}

.ui-spinner-button {
  border: 0;
  height: 23px;
}

/* hides the spin-button for firefox */
input[type=number] {
  -moz-appearance:textfield;
}
/* hides the spin-button for chrome*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-group .input-group-btn select.btn {
  height: 42px;
}

.modal-dialog {
  left: auto !important;
  right: auto !important;
}

/* Fixes for IE < 8 */
@media screen\9 {
	.fileinput-button input {
		filter: alpha(opacity=0);
		font-size: 100%;
		height: 100%;
	}
}

