<div class="row">
	<div class="col-md-2" ng-switch on="step">
		<img ng-switch-when="create" class="hidden-xs hidden-sm" src="/contents/icons/money.svg" width="80%" />
		<img ng-switch-when="create" class="hidden-xs hidden-sm" src="/contents/icons/box.svg" width="80%" />
		<img ng-switch-when="create" class="hidden-xs hidden-sm" src="/contents/icons/money.svg" width="80%" />
		<img ng-switch-when="create" class="hidden-xs hidden-sm" src="/contents/icons/money.svg" width="80%" />
	</div>

	<div class="col-lg-8 col-md-8">

		<div class="panel panel-info">
			<div class="panel-heading">{{ process.name }}</div>
			<div class="panel-body">

				{{ inner | raw }}

			</div>
			<div class="panel-footer clearfix">
				<div class="pull-right">
					<a href="{{ ro.gen('purchases.purchase.process') }}" type="button" class="btn btn-danger"><span class="fui-cross"></span> Cancel</a>
				</div>
			</div>
		</div>
	</div>
</div>