<div class="row">
	<div class="col-md-2">
		<img class="hidden-xs hidden-sm" src="/contents/icons/money.svg" width="80%" />
	</div>

	<div class="col-md-8">
		{% if view.isProcessOwner() %}

			<div class="panel panel-info">
				<div class="panel-heading">Payment required</div>
				<div class="panel-body">
					<div class="alert alert-error">
						<p>Awaiting payment for the following purchase</p>
					</div>

					<dl class="dl-horizontal">
						<dt>
							Item
						</dt>
						<dd>
							<a href="{{ ro.gen('items.item',{'itemId': purchase.getItem().getId() }) }}">{{ purchase.getItem().getTitle() }}</a>
						</dd>
						<dt>
							Vendor
						</dt>
						<dd>
							<a href="#">xxx</a>
						</dd>
						<dt>
							Quantity
						</dt>
						<dd>
							<span>{{ purchase.getQuantity() }}</span>
						</dd>
						<dt>
							Price
						</dt>
						<dd>
							<span>{{ purchase.getItem().getPrice() }} {{ purchase.getItem().getCurrency() }}</span>
						</dd>
					</dl>

					<div class="alert alert-error"><p>please transfer <strong>{{ purchase.getPaymentAmount() }} BTC</strong> to the following bitcoin address.</p></div>

					<div class="input-group mbl mtl">
						<span class="input-group-addon"><i class="fa fa-btc"></i></span>
						<input onclick="this.select()" type="text" class="form-control" value="{{ purchase.getWallet().getAddress() }}">
					</div>

					<div class="mbl mtl">
						{% set progress = view.getProgressForStatus(purchase.getStatus()) %}

						<div class="progress progress-striped active" data-tooltip-style="info" data-toggle="tooltip" data-placement="left" title="{{ progress.description }}">
							<div class="progress-bar {{ progress.class }}" role="progressbar" aria-valuenow="{{ progress.percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress.percent }}%;">
								<span class="sr-only">{{ progress.percent }}%</span>
							</div>
						</div>
					</div>


				</div>
				<div class="panel-footer clearfix">
					<div class="pull-right">
						<a href="{{ ro.gen('purchases.purchase.process.cancel') }}" type="button" class="btn btn-danger"><span class="fui-cross"></span> Cancel</a>
					</div>
				</div>
			</div>
		{% endif %}
	</div>
</div>