<div class="row" ng-controller="ProcessController">

	<div class="col-md-2">
		<img src="/contents/icons/box.svg" width="80%" />
	</div>

	<div class="col-md-10">
		<div class="panel panel-info">

				<div class="panel-heading">Item received</div>
				<div class="panel-body">
					{% if view.isProcessOwner() %}

					<div class="alert alert-danger">
						<p>Please receipt after consignment of the item to release the payment. Please convince yourself of the completeness there is no more escrow after releasing the coins</p>
					</div>

					{% else %}



					{% endif %}

					<div class="mbl mtl">
						{% set progress = view.getProgressForStatus(purchase.getStatus()) %}

						<div class="progress progress-striped active" data-tooltip-style="info" data-toggle="tooltip" data-placement="left" title="{{ progress.description }}">
							<div class="progress-bar {{ progress.class }}" role="progressbar" aria-valuenow="{{ progress.percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress.percent }}%;">
								<span class="sr-only">{{ progress.percent }}%</span>
							</div>
						</div>
					</div>

				</div>
				<div class="panel-footer clearfix">
					{% if view.isProcessOwner() %}
						<div class="pull-left">
							<div class="as-track-button" data-slug="dhl-germany" data-tracking-number="00340433836981578679" data-support="true" data-hide-tracking-number="true" data-width="400" data-size="large"></div>
						</div>
						<div class="pull-right">
							<a ng-click="signAsReceived($event)" href="{{ ro.gen('purchases.purchase.process') }}" type="button" class="btn btn-lg btn-success"><span class="glyphicon fui-check"></span> Process</a>
						</div>

					{% endif %}
				</div>
		</div>
		<script type="text/ng-template" id="processPasswordDialog.html">
			<div class="modal-header">
				<h4 class="modal-title">Decrypt wallet</h4>
			</div>
			<div class="modal-body"  ng-class="{ 'has-error' : errorFields.password }">
				<input type="password" ng-model="$parent.password" name="password" class="form-control" placeholder="Password" required>
			</div>
			<div class="modal-footer">
				<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
				<button class="btn btn-primary" ng-click="ok()">Confirm</button>
			</div>
		</script>

	</div>
</div>