<div class="row">

	<div class="col-md-2">
		<img src="/contents/icons/box.svg" width="80%" />
	</div>

	<div class="col-md-10">
		<div class="panel panel-info">
			<div class="panel-heading">Waiting</div>
			<div class="panel-body">

				<div class="alert alert-danger">
					<a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
					<p>Waiting for next process step</p>
				</div>


			</div>
			<div class="panel-footer clearfix">
				<div class="pull-right">
					<button disabled="disabled" type="button" class="btn btn-warning"><span class="glyphicon fui-time"></span> Waiting</button>
				</div>
			</div>
		</div>
	</div>
</div>