<div class="row" ng-controller="ProcessController">

	<div class="col-md-2">
		{% if view.isProcessOwner() %}
		<img class="hidden-xs hidden-sm" src="/contents/icons/box.svg" width="80%" />
		{% else %}
		<img class="hidden-xs hidden-sm" src="/contents/icons/money.svg" width="80%" />

		{% endif %}
	</div>

	<div class="col-md-8">
		<div class="panel panel-info">
			{% if view.isProcessOwner() %}

			<div class="panel-heading">Processing shipping</div>
			<div class="panel-body">

				<div class="alert alert-danger">
					<a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
					<p>Process customer order for shipping</p>
				</div>

				<dl class="dl-horizontal">
					<dt>
						Item
					</dt>
					<dd>
						<a href="#"><strong>{{ purchase.getItem().getTitle() }}&nbsp;<span class="label label-info">{{ purchase.getItem().getId() }}</span></strong></a>
					</dd>
					<dt>
						Quantity
					</dt>
					<dd>
						{{ purchase.getQuantity() }}
					</dd>
					<dt>
						Purchase Ref#
					</dt>
					<dd>
						<strong>#{{ purchase.getId() }}</strong>
					</dd>
					<dt>
						Customer
					</dt>
					<dd>
						<a href="#"><strong>{{ purchase.getUser().getFirstName() }} {{ purchase.getUser().getLastName() }}</strong></a>
					</dd>
					<dt>
						Shipping address
					</dt>
					<dd>
						<address>
							<strong>{{ purchase.getShippingAddressField('firstName') }} {{ purchase.getShippingAddressField('lastName')  }}</strong><br/>
							{{ purchase.getShippingAddressField('address') }}<br/>
							{{ purchase.getShippingAddressField('zip') }} {{ purchase.getShippingAddressField('city') }}<br/>
							{{ purchase.getShippingAddressField('country') }}
						</address>
					</dd>
					<dt>
						Shipping method
					</dt>
					<dd>
						<strong>{{ purchase.getShippingOption().getDescription() }} </strong>
					</dd>
				</dl>


				<div class="alert-danger alert">
					<a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
					<p>Keep in mind to process only orders that are <strong>ready for shipping</strong>, after confirmation the order gets marked as <strong class="label label-info ">shipped</strong></p>
					<p>by processing this step the transaction will be signed with your encrypted private key stored in your browsers cache and send to <strong>{{ purchase.item.user.getOutputAddress()}}}</strong>
					</p>
				</div>


				<div class="mbl mtl">
					{% set progress = view.getProgressForStatus(purchase.getStatus()) %}

					<div class="progress progress-striped active" data-tooltip-style="info" data-toggle="tooltip" data-placement="left" title="{{ progress.description }}">
						<div class="progress-bar {{ progress.class }}" role="progressbar" aria-valuenow="{{ progress.percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress.percent }}%;">
							<span class="sr-only">{{ progress.percent }}%</span>
						</div>
					</div>
				</div>
			</div>
				{% else %}
					<div class="panel-heading">Payment Confirmed</div>
					<div class="panel-body">
						<div class="alert alert-info">
							<p>Payment is confirmed waiting for vendor shipping</p>
						</div>
					</div>
			{% endif %}

			<div class="panel-footer clearfix">
				<div class="pull-right">
					{% if view.isProcessOwner() %}
						<a ng-click="signAsShipped($event)" href="{{ ro.gen('purchases.purchase.process') }}" type="button" class="btn btn-success"><span class="glyphicon fui-check"></span> Process</a>
					{% else %}
						<span class="btn btn-success disabled"><span class="glyphicon fui-check"></span> Process</span>
					{% endif %}
				</div>
			</div>
			<script type="text/ng-template" id="processPasswordDialog.html">
				<div class="modal-header">
					<h4 class="modal-title">Decrypt wallet</h4>
				</div>
				<div class="modal-body"  ng-class="{ 'has-error' : errorFields.password }">
					<input type="password" ng-model="$parent.password" name="password" class="form-control" placeholder="Password" required>
				</div>
				<div class="modal-footer">
					<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
					<button class="btn btn-primary" ng-click="ok()">Confirm</button>
				</div>
			</script>
		</div>
	</div>
</div>