{% from 'snippets/ng.twig' import escape as ng %}

	<li ng-repeat="item in items track by item.id" infinite-scroll='nextPage()' infinite-scroll-immediate-check="false">

		<div class="cbp-pgcontent">
			<div class="cbp-pgitem">
				<a href="{{ ng("item.url") }}" class="cbp-pgitem-flip">
					<img ng-src="{{ ng("item.image['200x200']") }}" />
				</a>
			</div>
		</div>
		<div class="cbp-pginfo">
			<a href="{{ ng("item.url") }}"><h3>{{ ng("item.title") }}</h3></a>
			<span class="cbp-pgprice">{{ ng("item.prices['usd'] | currency") }}</span>
		</div>
	</li>