<div id="top-shadow"></div>

<div class="row items-overview" ng-controller="ItemsController">
	<div class="col-md-12">
		<div id="cbp-pgcontainer" class="cbp-pgcontainer" >
			<ul class="cbp-pggrid">
				{{ inner | raw }}
			</ul>
		</div>
	</div>
</div>