
<div class="row">
	<div class="col-md-3">
		<img class="hidden-xs hidden-sm" src="/contents/icons/graph.svg" width="80%" />
	</div>

	<div class="col-md-9">

		<table class="table table-striped table-hover">

			<thead>
				<tr>
					<th style="width:5%"></th>
					<th style="width:5%">id</th>
					<th>Title</th>
					<th>Stock</th>
					<th style="width:5%"></th>
				</tr>
			</thead>
			<tbody>
				{% for item in listings %}
					<tr>
						{% set progress = view.getStockProgressForItem(item) %}
						<td><a href="{{ ro.gen('items.item.edit', {'itemId': item.getId() }) }}" class="fui-new"></a></td>
						<td>{{ item.getId() }}</td>
						<td><a href="{{ ro.gen('items.item', {'itemId': item.getId() }) }}">{{ item.getTitle() }}</a></td>
						<td>
							<div class="progress active" data-tooltip-style="info" data-toggle="tooltip" data-placement="left" title="{{ item.getAvailableQuantity() }} items in Stock">
								<div class="progress-bar {{ view.mapProgressToCssClass(progress)}}" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%;">
									<span class="sr-only">{{ progress }}%</span>
								</div>
							</div>
						</td>
						<td style="text-align: right">
							<span class="dropdown">
								<a href class="dropdown-toggle fui-trash">

									<ul class="dropdown-menu">
										<li>
											<a class="fui-trash" href="{{ ro.gen('items.item.delete', {'itemId': item.getId() }) }}"></a>
										</li>
									</ul>
								</a>
							</span>
						</td>


					</tr>
				{% endfor %}
			</tbody>

		</table>


	</div>
</div>