
<div class="row">
	<div class="col-md-3">
		<img class="hidden-xs hidden-sm" src="/contents/icons/paper-bag.svg" width="80%" />

	</div>

	<div class="col-md-9">

		<table class="table table-striped table-hover">

			<thead>
				<tr>
					<th>id</th>
					<th>Title</th>
					<th>Vendor</th>
					<th>Progress</th>
				</tr>
			</thead>
			<tbody>
				{% for purchase in purchases %}
					<tr>
						<td>{{ purchase.getId() }}</td>
						<td><a href="{{ ro.gen('purchases.purchase', {'purchaseId': purchase.getId() }) }}">{{ purchase.getItem().getTitle() }}</a></td>
						<td>{{ purchase.getItem().getUser().getNick() }}</td>
						<td>
							{% set progress = view.getProgressForStatus(purchase.getStatus()) %}

							<div class="progress progress-striped active" data-style="light" data-toggle="tooltip" data-placement="top" title="{{ progress.description }}">
								<div class="progress-bar {{ progress.class }}" role="progressbar" aria-valuenow="{{ progress.percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress.percent }}%;">
									<span class="sr-only">{{ progress.percent }}%</span>
								</div>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>

		</table>


	</div>
</div>