{{ view.setSubject('Bitalo//Market: New Order') }}
{% set parameters = rd.getParameter('parameters') %}
{% set purchase = parameters.purchase %}
{% set item = purchase.getItem() %}


Hello {{ rd.getParameter('user').getFirstName() }},

Your order #{{ purchase.getId() }} "{{ item.getTitle() }}" has just been set to shipped.

Note: Please do not forget to release the Bitcoins after you have received your order.

{{ ro.gen('purchases.purchase', {'purchaseId': purchase.getId() }, {0:'mail'}) }}
