{{ view.setSubject('Bitalo//Market: New Purchase') }}
{% set parameters = rd.getParameter('parameters') %}
{% set purchase = parameters.purchase %}
{% set item = purchase.getItem() %}


Hello {{ rd.getParameter('user').getFirstName() }},

Thanks for your order!

Your vendor will be prompted to ship the goods to you once you have paid the order.

If you haven't paid yet please go to the order page and authorize a payment.

{{ ro.gen('purchases.purchase', {'purchaseId': purchase.getId() }, 'mail') }}

Purchased Item:
Item: {{ item.getTitle() }}
Quantity: {{ purchase.getQuantity() }}
Price: {{ item.getPrice() }} {{ item.getCurrency() }}
Total: {{ purchase.getPurchaseTotal() }} {{ item.getCurrency() }}
