{{ view.setSubject('Bitalo//Market: New Order') }}
{% set parameters = rd.getParameter('parameters') %}
{% set purchase = parameters.purchase %}
{% set item = purchase.getItem() %}


Hello {{ rd.getParameter('user').getFirstName() }},

the user has just successfully paid one of your pending orders and it is now time to ship him the product. Please send the product to the following shipping address:

{{ purchase.getShippingAddressField('firstName') }} {{ purchase.getShippingAddressField('lastName')  }}
{{ purchase.getShippingAddressField('address') }}
{{ purchase.getShippingAddressField('zip') }} {{ purchase.getShippingAddressField('city') }}
{{ purchase.getShippingAddressField('country') }}

Purchased Item:

Item: {{ item.getTitle() }}
Quantity: {{ purchase.getQuantity() }}
Price: {{ item.getPrice() }} {{ item.getCurrency() }}
Total: {{ purchase.getPurchaseTotal() }} {{ item.getCurrency() }}

More information:
{{ ro.gen('purchases.purchase', {'purchaseId': purchase.getId() }, 'mail') }}

Payment receipt:
{{ ro.gen('purchases.purchase', {'purchaseId': purchase.getId() }, 'mail') }}
