{{ view.setSubject('Bitalo//Market: Welcome') }}
{% set parameters = rd.getParameter('parameters') %}
{% set token = parameters.token %}

Hello {{ rd.getParameter('user').getFirstName() }},

Thank you for signing up at http://market.bitalo.com. To complete your registration, please visit the following page:

{{ ro.gen('account.register.email.validate', {'tokenCode': token.getId() }, 'mail') }}

If you have not signed up at bitalo.com, please ignore this email.



