/* glue: 0.3 hash: cee3d8ad7e */
.sprite-language-se,
.sprite-language-ru,
.sprite-language-fr,
.sprite-language-fi,
.sprite-language-es,
.sprite-language-en,
.sprite-language-de,
.sprite-language-cn{background-image:url('language.png');background-repeat:no-repeat}
.sprite-language-se{background-position:0px 0px;width:35px;height:24px;}
.sprite-language-ru{background-position:-35px 0px;width:35px;height:24px;}
.sprite-language-fr{background-position:0px -24px;width:35px;height:24px;}
.sprite-language-fi{background-position:-35px -24px;width:35px;height:24px;}
.sprite-language-es{background-position:-70px 0px;width:35px;height:24px;}
.sprite-language-en{background-position:-70px -24px;width:35px;height:24px;}
.sprite-language-de{background-position:0px -47px;width:35px;height:24px;}
.sprite-language-cn{background-position:-35px -47px;width:35px;height:24px;}
@media only screen and (-webkit-min-device-pixel-ratio: 2.0), only screen and (min--moz-device-pixel-ratio: 2.0), only screen and (-o-min-device-pixel-ratio: 200/100), only screen and (min-device-pixel-ratio: 2.0) {.sprite-language-se,
.sprite-language-ru,
.sprite-language-fr,
.sprite-language-fi,
.sprite-language-es,
.sprite-language-en,
.sprite-language-de,
.sprite-language-cn{background-image:url('language@2x.png');-webkit-background-size: 105px 70px;-moz-background-size: 105px 70px;background-size: 105px 70px;}}
