{% from 'snippets/ng.twig' import escape as ng %}

<div class="item-container row" ng-controller="ItemController">
	<div class="col-md-4">

		<div class="cbp-pgcontent">
			<div class="cbp-pgitem">
				<div class="cbp-pgitem-flip">

					<div id="itemImages" class="carousel slide">
						<carousel>
							<slide ng-repeat="image in item.images" active="image.active">
								<img ng-src="{{ng("image['400x400']")}}" style="margin:auto;">
							</slide>
						</carousel>
					</div>

				</div>
			</div>
			<ul class="cbp-pgoptions">
				<li  ng-repeat="image in item.images">
					<img ng-click="image.active = true" ng-src="{{ng("image['60x60']")}}" >
				</li>
			</ul>
		</div>

		<h5> {{ item.getUser().getNick() }} // </h5>

		<button ng-click="createConversation($event)" class="btn-wide btn btn-info btn-lg">Ask Vendor</button>

	</div>

	<div class="col-md-8">

		<h2 class="media-heading">{{ item.getTitle() }}</h2>
		<h5>// {{ item.getCategory().getTitle() }} </h5>

		<p>{{ item.getDescription() }}</p>


		<div class="well" ng-class="{ danger: purchaseForm.$invalid}">


			<form name="purchaseForm" action="{{ ro.gen('items.item.purchase', {'itemId': item.getId()}) }}" novalidate>
				<button ng-disabled="purchaseForm.$invalid" type="submit" class=" btn-wide btn btn-info btn-lg">Purchase</button>
				<span class="item-price">x</span>

				<input ng-spinner max="10" min="1" name="quantity" ng-model="quantity"/>


				<span ng-hide="purchaseForm.$invalid" class="item-price">=</span>
				<span ng-hide="purchaseForm.$invalid">
					<span data-tooltip-style="alert"  tooltip-placement="right" tooltip-trigger="mouseenter" tooltip-html-unsafe="{{ng('getPrice("btc")')}} <b class='fa fa-btc'></b>" class="item-price" ng-bind="getPrice('usd') | currency"></span>
				</span>
				<span ng-show="purchaseForm.$invalid" class="item-price text-danger">
					not in stock
				</span>

			</form>

		</div>

		<ul id="item-product-specifications" class="nav nav-tabs nav-append-content">
			<li class="active"><a data-toggle="tab" href="#review-tab">Reviews</a></li>
			<li class=""><a data-toggle="tab" href="#shipping-options-tab">Shipping</a></li>
			<li class=""><a data-toggle="tab" href="#other-listings-tab">Other</a></li>
		</ul> <!-- /tabs -->

		<div class="tab-content">
			<div class="tab-pane active" id="review-tab">

				<section class="comment-list">
					{% for comment in item.getComments() %}
						<article class="comment">
							<img src="http://placehold.it/50x50" alt=""/>
							<h4>{{ comment.getUser().getFirstName() }}</h4>
							<p>{{ comment.getBody() }} </p>
						</article>
					{% endfor %}
				</section>

				{% if us.isAuthenticated() %}
				<div class="form-group">
					<form method="post" action="{{ ro.gen('items.item.comment', {'itemId': item.getId()}) }}">
						<textarea rows="2" name="comment" class="form-control" placeholder="comment" required></textarea>
						<button  type="submit" class="btn btn-primary btn-send">Comment</button>
					</form>
				</div>
				{% endif %}
			</div>

			<!-- /tabs -->
			<div class="tab-pane" id="shipping-options-tab">
				<table class="table table-striped">
					<thead>
					<tr>
						<td class="col-md-6">Description</td>
						<td class="col-md-4">Price</td>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="option in item.shipping.options">
						<td>{{ng('option.description')}}</td>
						<td>{{ng('option.price | currency')}}</td>
					</tr>
					</tbody>

				</table>
			</div>

			<!-- /tabs -->
			<div class="tab-pane" id="other-listings-tab">
				<p>...</p>
			</div>
		</div> <!-- /tab-content -->

	</div>
</div>

<script type="text/ng-template" id="createConversationDialog.html">
	<div class="modal-header">
		<h4 class="modal-title">Ask Vendor</h4>
	</div>
	<div class="modal-body"  ng-class="{ 'has-error' : errorFields.message }">
		<textarea rows="5" name="message" class="form-control" placeholder="message" ng-model="$parent.message" required></textarea>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
		<button type="button" class="btn btn-primary" ng-click="send()">Send</button>
	</div>
</script>
