{% from 'snippets/ng.twig' import escape as ng %}
<div class="row item-create" ng-controller="ItemCreateController">
	<div class="col-md-3">
		<img src="/contents/icons/user-interface.svg" width="80%" />
	</div>

		<div class="col-md-8" ng-switch on="step">

			<div class="panel panel-default" ng-switch-when="create">
				<div class="panel-heading">Sell item</div>
				<div class="panel-body">

					<form  method="post" name="itemForm" ng-submit="create($event)"  novalidate>


					<div ng-include=" 'ngValidationMessages.html' " ng-hide="itemForm.$valid || !submitted" class="alert alert-danger alert-dismissible" role="alert"  ng-include="validationErrors"></div>


					<div class="form-group" ng-class="{ 'has-error' : submitted && itemForm.title.$error.required }">
						<label for="item-title" class="control-label">Title</label>
						<input id="item-title" type="text" name="title" class="input-hg form-control" placeholder="title" ng-model="item.title" required>
					</div>

					<div class="form-group" ng-class="{ 'has-error' : submitted && itemForm.description.$error.required }">
						<label for="item-description" class="control-label">Description</label>
						<textarea id="item-description" rows="10" name="description" class="form-control" placeholder="description" ng-model="item.description" required></textarea>
					</div>


					<div class="form-group">
						<div class="row">
							<div class="col-md-3"  ng-class="{ 'has-error' : submitted && itemForm.quantity.$error.required }">

								<label for="item-quantity">Quantity</label>
								<div class="input-group">

									<input id="item-quantity" type="number" name="quantity" placeholder="quantity"  class="form-control" ng-model="item.quantity" required />
									<span class="input-group-addon">X</span>
								</div>
							</div>
							<div class="col-md-4"  ng-class="{ 'has-error' : submitted && itemForm.price.$error.required }">
								<label for="item-price">Price</label>
								<div class="input-group">
									<span class="input-group-addon">{{ng('currencies[item.currency].symbol')}}</span>
									<input id="item-price" class="form-control" type="number" name="price" placeholder="Price" ng-model="item.price" required />

									<span class="input-group-btn">
										<select data-container="body" name="currency" class="btn" ng-model="item.currency"  ng-options="code as currency.label for (code , currency) in currencies" required></select>
									</span>

								</div>
							</div>
							<div class="col-md-5"  ng-class="{ 'has-error' : submitted && itemForm.currency.$error.required }">
								<label>Category</label>
								<select data-container="body" name="category" class="select form-control"  data-ng-model="item.category" required>
									<option value="" disabled selected>Category</option>
									<option value="{{ng('category.id')}}" ng-repeat="category in categories">{{ng('category.title')}}</option>
								</select>
							</div>
						</div>

					</div>

					</form>

				</div>

				<div class="panel-footer clearfix">
					<div class="pull-left">

					</div>
					<div class="pull-right">
						<button ng-click="next(itemForm)" type="button" class="btn btn-primary">Next</button>
					</div>
				</div>
			</div>

			<div class="panel panel-default" ng-switch-when="shipping">

				<div class="panel-heading">Add shipping options</div>

					<div class="panel-body">

						<div ng-include=" 'ngValidationMessages.html' " ng-hide="shippingForm.$valid || !submitted" class="alert alert-danger alert-dismissible" role="alert"  ng-include="validationErrors"></div>

						<form name="shippingForm" novalidate>
						<table class="table table-striped">
							<thead>
								<tr>
									<td class="col-md-6">Description</td>
									<td class="col-md-4">Price</td>
									<td class="col-md-2"></td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="option in item.shippingOptions">
									<td>{{ng('option.description')}}</td>
									<td>{{ng('option.price | currency: currencies[item.currency].symbol')}}</td>
									<td><a ng-click="removeShippingOption($index)" class="fui-trash"></a></td>
								</tr>
							</tbody>

						</table>

						<div class="form-group" ng-hide="item.shippingOptions.length > 5">
							<div class="col-md-6"  ng-class="{ 'has-error' : submitted && !item.shippingOptions.length && shippingForm.description.$error}">
								<input ng-minlength="0" ng-maxlength="50" type="text" name="description" class="form-control" placeholder="Shipping Description" ng-model="shippingOption.description" ng-required="!item.shippingOptions.length">
							</div>
							<div class="col-md-4" ng-class="{ 'has-error' : submitted && !item.shippingOptions.length &&  shippingForm.price.$error}">
								<div class="input-group">
									<span class="input-group-addon">{{ng('currencies[item.currency].symbol')}}</span>
									<input min="0" type="number" name="price" class="form-control" placeholder="Price" ng-model="shippingOption.price" ng-required="!item.shippingOptions.length">
								</div>
							</div>
							<div class="col-md-2">
								<button  ng-disabled="shippingForm.$invalid"  ng-click="addShippingOption($shippingForm)" type="button" class="btn btn-info">Add</button>
							</div>
						</div>

						</form>

					</div>
					<div class="panel-footer clearfix">
						<div class="pull-left">
							<button type="button" ng-click="previous()" class="btn btn-danger">Back</button>
						</div>
						<div class="pull-right">
							<button type="button"  ng-click="next(shippingForm)" class="btn btn-primary">Next</button>
						</div>
					</div>

			</div>

			<div class="panel panel-default" ng-switch-when="pictures" >

				<div class="panel-heading">Add pictures</div>



					<div class="panel-body">
						<form name="imageForm" novalidate>

							<div ng-repeat="image in item.images.active" class="fileinput fileinput-new" >
								<div  class="fileinput-preview thumbnail" style="width: 200px; height: 200px;">
									<img ng-src="{{ng('image.src')}}" />
								</div>
								<div class="fileinput-button-wrapper">
									<button ng-click="removeFile($index, true)" type="button" class="btn btn-primary btn-embossed" ><span class="fui-trash"></span>&nbsp;&nbsp;Remove</button>
								</div>
							</div>

							<div ng-repeat="image in item.images.new" class="fileinput fileinput-new" >
								<div  class="fileinput-preview thumbnail" style="width: 200px; height: 200px;"  ng-thumb="{ file: image, height: 195, width: 195 }"></div>
								<div class="fileinput-button-wrapper">
									<button ng-click="removeFile($index)" type="button" class="btn btn-primary btn-embossed" ><span class="fui-trash"></span>&nbsp;&nbsp;Remove</button>
								</div>
							</div>

							<div class="fileinput fileinput-new" ng-class="{ 'has-error' : submitted && imageForm.image.$error.required }">
								<div class="fileinput-preview thumbnail" style="width: 200px; height: 200px;"></div>
								<div class="fileinput-button-wrapper">
							<span class="btn btn-primary btn-embossed btn-file fileinput-new">
								<span class="fileinput-new"><span class="fui-image"></span>&nbsp;&nbsp;Add image</span>

								<input ng-file-select="onFileSelect($files)" name="image" ng-model="selectedImage" type="file" ng-required="!images.length">
							</span>
								</div>
							</div>

						</form>
					</div>
					<div class="panel-footer clearfix">
						<div class="pull-left">
							<button type="button" ng-click="previous()" class="btn btn-danger">Back</button>
						</div>
						<div class="pull-right">
							<button type="button" ng-click="save()" class="btn btn-primary">Save</button>
						</div>
					</div>


			</div>


		</form>

	</div>



</div>