<div class="row"  ng-controller="AccountController">
	<div class="col-md-3">
		<img src="/contents/icons/key.svg" width="80%" />

	</div>

	<div class="col-md-8">

		<div class="panel panel-default">
			<div class="panel-heading">Login</div>
			<div class="panel-body">
				<form ng-submit="login($event)"  role="form" action="{{ ro.gen('account.login') }}"  method="post">



					<div class="form-group" ng-class="{ 'has-error' : errorFields.email }">
						<input autocomplete="off" class="form-control" name="email" type="text" placeholder="E-Mail" ng-model="account.email" />
					</div>


					<div class="form-group" ng-class="{ 'has-error' : errorFields.password }">
						<input autocomplete="off" class="form-control" name="password" type="password" placeholder="Password" ng-model="account.password" />
					</div>


					<button type="submit" class="btn btn-primary">Login</button>
				</form>
			</div>
		</div>
	</div>
</div>


