<div class="row">
	<div class="col-md-3">
		<img src="/contents/icons/shirt.svg" width="80%" />
	</div>

	<div class="col-md-8">

		<table class="table table-striped table-hover">

			<thead>
				<tr>
					<th colspan="2">Profile</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>First name</td>
					<td>{{ user.getFirstName() }}</td>
				</tr>
				<tr>
					<td>Last name</td>
					<td>{{ user.getLastName() }}</td>
				</tr>
				<tr>
					<td>Nickname</td>
					<td>{{ user.getNick() }}</td>
				</tr>
				<tr>
					<td>Email</td>
					<td>{{ user.getEmail() }}</td>
				</tr>
			</tbody>

		</table>

	</div>
</div>