{% from 'snippets/ng.twig' import escape as ng %}

<div class="row"  ng-controller="AccountController">
	<div class="col-md-3">
		<img src="/contents/icons/building.svg" width="80%" />

	</div>

	<div class="col-md-8">

		<div class="panel panel-default">
			<div class="panel-heading">Register Account</div>

			<div class="panel-body" ng-hide="completed">
				<form name="registerForm" ng-submit="register($event)" action="{{ ro.gen('account.register') }}"  method="post" novalidate="novalidate">

					<div ng-include=" 'ngValidationMessages.html' " ng-show="submitted && registerForm.$invalid" class="alert alert-danger alert-dismissible" role="alert"  ng-include="validationErrors"></div>


					<div class="form-group"  ng-class="{ 'has-error' : submitted && registerForm.firstName.$error.required }" >
						<input autocomplete="off" class="form-control" name="firstName" type="text" placeholder="First name" ng-model="account.firstName" required/>
					</div>

					<div class="form-group" ng-class="{ 'has-error' : submitted && registerForm.lastName.$error.required }">
						<input autocomplete="off" class="form-control" name="lastName" type="text" placeholder="Last name" ng-model="account.lastName" required />
					</div>

					<div class="form-group" ng-class="{ 'has-error' : submitted && registerForm.nick.$error.required }">
						<input autocomplete="off" class="form-control" name="nick" type="text" placeholder="Nickname (public)" ng-model="account.nick" required />
					</div>

					<div class="form-group" ng-class="{ 'has-error' : submitted && (registerForm.email.$error.required || registerForm.email.$error.email || registerForm.email.$error.server) }">
						<input autocomplete="off" class="form-control" name="email" type="email" placeholder="E-Mail" ng-model="account.email" required  />
					</div>

					<div class="form-group" ng-class="{ 'has-error' : submitted && registerForm.password.$error.required }">
						<input autocomplete="off" class="form-control" name="password" type="password" placeholder="Password" ng-model="account.password" required ng-server-validation="unique" />
					</div>

					<div class="form-group" ng-class="{ 'has-error' : submitted && registerForm.passwordRepeat.$error.match && !registerForm.passwordRepeat.$error.required }">
						<input autocomplete="off" class="form-control" name="passwordRepeat" type="password" placeholder="Password repeat" ng-model="account.passwordRepeat" required  ng-match="account.password"/>
					</div>

					<div class="mbl mtl"  ng-show="passwordMeter.display">
						<div class="progress progress-striped active">
							<div class="progress-bar {{ ng('passwordMeter.class') }}" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width: {{ ng('passwordMeter.width') }}">
								<span class="sr-only"></span>
							</div>
						</div>
					</div>
					<button ng-disabled="registerForm.$pristine" type="submit" class="btn btn-primary">Register</button>
				</form>
			</div>

			<div class="panel-body" ng-show="completed">

				<div class="alert-danger alert">
					<p>be sure you write down this <strong>wallet recovery sentence</strong>! You will not be able to restore your wallet in case of <strong>password lost</strong></p>
				</div>

				<div class="form-group">
					<label for="item-quantity" class="control-label">Wallet recovery sentence</label>
					<textarea class="form-control" ng-model="account.memomic"></textarea>
				</div>

				<a href="{{ ng('next') }}" class="btn btn-danger">I Understand</a>

			</div>
		</div>
	</div>
</div>



