<div class="row item-create">
	<div class="col-md-3">
		<img src="/contents/icons/settings.svg" width="80%" />
	</div>

	<div class="col-md-8">
		<form role="form" action="{{ ro.gen('account.settings')}}" method="post" enctype="multipart/form-data">

		<div class="panel panel-default">

				<div class="panel-heading">Account Settings</div>
				<div class="panel-body">

					<div class="form-group"  ng-class="{ 'has-error' : errorFields.first_name }">
						<label for="account-first-name" class="control-label">First Name</label>
						<input id="account-first-name" value="{{ user.getFirstName() }}" class="form-control" name="firstName" type="text" placeholder="First name" />
					</div>

					<div class="form-group" ng-class="{ 'has-error' : errorFields.last_name }">
						<label for="account-last-name" class="control-label">Last Name</label>
						<input id="account-last-name" value="{{ user.getLastName() }}" class="form-control" name="lastName" type="text" placeholder="Last name" />
					</div>

					<div class="form-group"  ng-class="{ 'has-error' : errorFields.nick }">
						<label for="account-nick" class="control-label">Nickname (public)</label>
						<input id="account-nick" value="{{ user.getNick() }}" class="form-control" name="nick" type="text" placeholder="Nickname" />
					</div>

					<div class="form-group" ng-class="{ 'has-error' : errorFields.email }">
						<label for="account-email" class="control-label">E-Mail</label>
						<input id="account-email" disabled="disabled" value="{{ user.getEmail() }}" class="form-control" name="email" type="email" placeholder="E-Mail" />
					</div>

					<div class="form-group" ng-class="{ 'has-error' : errorFields.payout_address }">
						<label for="account-payout-address" class="control-label">Payout Address</label>
						<input id="account-payout-address" value="{{ user.getPayoutAddress() }}" class="form-control" name="payoutAddress" type="text" placeholder="Payout Address" />
					</div>

				</div>
				<div class="panel-footer clearfix">
					<div class="pull-right">
						<button type="submit" class="btn btn-danger">Save</button>
					</div>
				</div>

		</div>
		</form>

	</div>
</div>