{% from 'snippets/ng.twig' import escape as ng %}
<div class="row"  ng-controller="PurchaseController">
	<div class="col-md-2 col-lg-3">
		<img src="/contents/icons/paper-bag.svg" width="80%" />
	</div>

	<div class="col-lg-8 col-md-8">
		<form name="purchaseForm" ng-submit="purchaseItem($event)" role="form" action="{{ ro.gen('items.item.purchase', {'itemId': item.getId() }) }}" method="post">

		<div class="panel panel-default">
			<div class="panel-heading">Shipping address</div>
			<div class="panel-body">

						<div class="form-group">
							<div class="row">
								<div class="col-xs-6"  ng-class="{ 'has-error' : errorFields.first_name }">
									<input ng-model="purchase.firstName" type="text" name="first_name" class="form-control" placeholder="First name" value="{{ us.getUserObject().getFirstName() }}">
								</div>
								<div class="col-xs-6"  ng-class="{ 'has-error' : errorFields.last_name }">
									<input ng-model="purchase.lastName" type="text" name="last_name" class="form-control" placeholder="Last name" value="{{ us.getUserObject().getLastName() }}">
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-xs-12"  ng-class="{ 'has-error' : errorFields.address }">
									<input ng-model="purchase.address"  type="text" name="address" class="form-control" placeholder="Address">
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-xs-4"  ng-class="{ 'has-error' : errorFields.zip }">
									<input ng-model="purchase.zip"  class="form-control" type="text" name="zip" placeholder="Zip"/>
								</div>
								<div class="col-xs-8"  ng-class="{ 'has-error' : errorFields.city }">
									<input ng-model="purchase.city"  class="form-control" type="text" name="city" placeholder="City"/>
								</div>
							</div>
						</div>


						<div class="form-group">
							<div class="row">
								<div class="col-xs-12"  ng-class="{ 'has-error' : errorFields['country[code]'] }">
									<ui-select ng-model="purchase.country" theme="bootstrap" >
										<ui-select-match placeholder="Select or search a country in the list...">{{ng('$select.selected.name')}}</ui-select-match>
										<ui-select-choices repeat="country in countries | filter: $select.search">
											<span ng-bind-html="country.name | highlight: $select.search"></span>
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
						</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">Summary</div>
			<div class="panel-body ">
				<div class="form-group form-horizontal">
					<div class="row">

						<div class="col-xs-10" ng-class="{ 'has-error' : errorFields['shipping[option]'] }">
							<label for="shipping-option" class="control-label">Shipping option</label>
							<select data-container="body"  class="select form-control" ng-options="option.description for option in item.shipping.options" name="shippingOption" ng-model="purchase.shipping">
								<option value="">please select option</option>
							</select>
						</div>

						<div class="col-xs-2"  ng-class="{ 'has-error' : errorFields.quantity }">
							<label for="item-quantity" class="control-label">Quantity</label>
							<div class="select-block">
								<input ng-spinner max="item.quantity.max" min="item.quantity.min" name="quantity" ng-model="purchase.quantity"/>
							</div>
						</div>

					</div>


				</div>

				<div class="row">
					<div class="col-xs-12">
						<table class="table table-striped">
							<thead>
							<tr>
								<td class="col-xs-6">Position</td>

								<td class="col-xs-2">Price</td>

								<td class="col-xs-1">Qty</td>
								<td class="col-xs-2">Total Price</td>
							</tr>
							</thead>
							<tr>
								<td>
									{{ item.getTitle() }}
								</td>

								<td>
									<span class="item-price" ng-bind="item.price.usd| currency"></span>

								</td>
								<td>
									<span class="item-price" ng-bind="purchase.quantity"></span>

								</td>
								<td>
									<span class="item-price" ng-bind="(purchase.quantity * item.price.usd)| currency"></span>
								</td>
							</tr>
							<tr ng-show="purchase.shipping">
								<td>
									<span class="item-price" ng-bind="purchase.shipping.description"></span>
								</td>

								<td>
									<span class="item-price" ng-bind="purchase.shipping.price | currency"></span>
								</td>
								<td>
									<span class="item-price">1</span>
								</td>
								<td>
									<span class="item-price" ng-bind="purchase.shipping.price | currency"></span>
								</td>
							</tr>

							<tr>
								<td colspan="3">
									Subtotal
								</td>
								<td class="right" ng-bind="(purchase.quantity * item.price.usd)| currency">
								</td>
							</tr>
							<tr>
								<td colspan="3">
									Total
								</td>
								<td class="right" ng-bind="(purchase.quantity * item.price.usd + purchase.shipping.price)| currency">
								</td>
							</tr>

						</table>
					</div>

				</div>


			</div>

			<div class="panel-footer clearfix">
				<div class="pull-left">

				</div>
				<div class="pull-right">
					<input name="public_key" type="hidden" value="{{ us.getUserObject().getPublicKey() }}">

					<button type="submit" class="pull-right btn btn-success">Purchase</button>

				</div>
			</div>

		</div>
		</form>

	</div>
</div>


