{% from 'snippets/ng.twig' import escape as ng %}

<div class="row conversation-wrapper" ng-controller="ConversationsController">


	<div class="col-md-3">
		<div class="todo">
			<div class="todo-search">
				<input class="todo-search-field" type="search" value="" placeholder="Search">
			</div>
			<ul>
				<li ng-repeat="conversation in conversations" ng-click="show($index)" ng-class="{ 'todo-done': $index === index}">
					<div class="todo-icon fui-user"></div>
					<div class="todo-content">
						<h4 class="todo-name">{{ ng(' conversation.messages[0].user.firstName') }} {{ ng(' conversation.messages[0].user.lastName') }}</h4>
						{{ ng(' conversation.messages[0].creation | date : \'short\'') }}
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-md-9">

		<div class="panel panel-info">
			<div class="panel-heading">Conversation</div>
			<div class="panel-body">
				<section class="message-list" ng-repeat="message in conversations[conversation.index].messages">

					<article class="message">
						<h4>{{ ng(' message.user.firstName') }} {{ ng(' message.user.lastName') }}</h4>
						<small>{{ ng(' message.creation | date : \'short\'') }}</small>
						<p>{{ ng('message.body')}} </p>
					</article>
				</section>

				<form name="messageForm" novalidate>

					<div class="form-group" ng-class="{ 'has-error' : send && messageForm.messageForm.message.$error.required }">
						<textarea rows="2" name="message" class="form-control" placeholder="message" ng-model="message" required></textarea>
						<button  type="button" ng-click="reply()" class="btn btn-primary btn-send">Reply</button>
					</div>

				</form>
			</div>

		</div>





	</div>
</div>