<html ng-app="app">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Loading Bootstrap -->
	<link href="/assets/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

	<!-- Loading Flat UI -->
	<link href="/assets/css/ui.css" rel="stylesheet">
	<link href="/assets/css/base.css" rel="stylesheet">


	<link href="/assets/css/items.css" rel="stylesheet">

	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	<script src="/assets/vendor/jquery/jquery.js"></script>

	<script src="/assets/vendor/bootstrap/dist/js/bootstrap.js"></script>

	<script src="/assets/vendor/bootstrap-select/dist/js/bootstrap-select.js"></script>

	<link href="/assets/vendor/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">

	<script src="/assets/vendor/angular-file-upload/dist/angular-file-upload-shim.min.js"></script>

	<script src="/assets/vendor/angular/angular.js"></script>

	<script src="/assets/vendor/angular-sanitize/angular-sanitize.js"></script>

	<script src="/assets/vendor/angular-messages/angular-messages.js"></script>

	<script src="/assets/vendor/angular-route/angular-route.js"></script>

	<script src="/assets/vendor/angular-resource/angular-resource.js"></script>

	<script src="/assets/vendor/nya-bootstrap-select/src/nya-bootstrap-select.js"></script>

	<script src="/assets/vendor/angular-mocks/angular-mocks.js"></script>

	<script src="/assets/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>

	<script src="/assets/vendor/angular-ui-select/dist/select.js"></script>

	<script src="/assets/vendor/angular-file-upload/dist/angular-file-upload.js"></script>

	<script src="/assets/vendor/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>

	<link rel="stylesheet" href="/assets/vendor/angular-ui-select/dist/select.css">

	<script src="/assets/vendor/underscore/underscore.js"></script>

	<script src="/assets/vendor/bitcore/browser/bundle.js"></script>

	<script src="/assets/vendor/crypto-js/rollups/aes.js"></script>

</head>
<body ng-controller="BaseController">
	<header class="navbar-fixed-top" role="navigation" s>
		<div class="navbar navbar-default">
			<div class="container">

				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#top-navigation">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand">
						Bitalo<br/><small> // market</small>
					</a>
				</div>
				<nav class="navbar-collapse collapse" id="top-navigation">
					<ul class="nav navbar-nav navbar-left">
						<li>
							<a href="#">Exchange</a>
						</li>
						<li>
							<a href="{{ ro.gen('items') }}">Buy</a>
						</li>
						<li>
							<a href="{{ ro.gen('items.create') }}">Sell</a>
						</li>
					</ul>

					<form class="navbar-form navbar-right" action="#">
						<div class="form-group">
							<div class="input-group input-group-sm">
								<input class="form-control" id="navbarInput-02" type="search" placeholder="Search">
									<span class="input-group-btn">
										<button type="submit" class="btn"><span class="fui-search"></span></button>
										<button class="btn btn-language" ><span class="sprite-language-en"></span></button>
									</span>
							</div>
						</div>
					</form>

					<ul class="nav navbar-nav navbar-right">

						{% if us.isAuthenticated() %}
							<li>
								<a href="#" class="dropdown-toggle inver" data-toggle="dropdown">Account <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="{{ ro.gen('account.profile') }}">Profile</a></li>

									<li><a href="{{ ro.gen('conversations') }}">Inbox</a></li>
									<li><a href="{{ ro.gen('purchases',  {'filter': 'orders' }) }}">Orders</a></li>

									<li><a href="{{ ro.gen('listings') }}">Listings</a></li>
									<li><a href="{{ ro.gen('purchases',  {'filter': 'purchases' }) }}">Purchases</a></li>

									<li><a href="{{ ro.gen('account.settings') }}">Settings</a></li>
									<li><a href="{{ ro.gen('account.logout') }}">Logout</a></li>
								</ul>
							</li>
						{% else %}
							<li>
								<a href="{{ ro.gen('account.login') }}">Login</a>
							</li>
							<li>
								<a href="{{ ro.gen('account.register') }}">Register</a>
							</li>
						{% endif %}
					</ul>

				</nav>
			</div>
		</div>


		{%  if categories %}
		<div class="container" ng-controller="HeaderController">

			<div class="col-md-8 col-md-offset-4">
				<div class="btn-group mbl">
					<select name="sub-category" class="nya-selectpicker pull-left mrl" ng-model="category">
						<option selected value="">All Categories</option>
						{% for category in categories %}
							<option value="{{ category.getId() }}">{{ category.getTitle() }}</option>
						{% endfor %}
					</select>

					<select name="order" class="nya-selectpicker select pull-left mrl"  ng-model="sortOption">
						<optgroup label="Time">
							<option value="0">newly listed</option>
							<option value="1">ending soon</option>
						</optgroup>
						<optgroup label="Price">
							<option value="2">lowest</option>
							<option value="3">highest</option>
						</optgroup>
					</select>

				</div>

			</div>
		</div>
		{%  endif %}
	</header>

	<div id="content-wrapper" class="container" ng-view>
		{{ inner | raw }}

	</div>

	<footer class="bottom-menu bottom-menu-inverse">
		<div class="container">
			<div class="row">
				<div class="col-md-2 navbar-brand">
				</div>

				<div class="col-md-8">
					<ul class="bottom-links">
						<li><a href="#">About Us</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Follow Us</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">Links</a></li>
					</ul>
				</div>

				<div class="col-md-2">
					<ul class="bottom-icons">
						<li><a target="_blank" href="https://www.youtube.com/user/bitaloAG" class="fui-youtube"></a></li>
						<li><a target="_blank" href="https://www.facebook.com/bitaloAG" class="fui-facebook"></a></li>
						<li><a target="_blank" href="https://twitter.com/bitaloAG" class="fui-twitter"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<script src="/assets/js/app.js?{{ view.hash() }}"></script>
	<script src="/assets/js/services.js?{{ view.hash() }}"></script>
	<script src="/assets/js/directives.js?{{ view.hash() }}"></script>
	<script src="/assets/js/controllers.js?{{ view.hash() }}"></script>

	<script>

		var BITALO_MARKET_SETTINGS = {
			network: 'testnet'
		};

		var BITALO_MARKET_ATTRIBUTES = {{ view.renderJavascriptAttributes() | raw }};

		var bitcore = require('bitcore');

		$(document).ready(function() {


			$(window).scroll(function(){
				var y = $(window).scrollTop();
				if( y > 0 ){
					$("#top-shadow").css({'display':'block', 'opacity':y/20});
				} else {
					$("#top-shadow").css({'display':'block', 'opacity':y/20});
				}
			});
		});
	</script>

	<script type="text/ng-template" id="ngValidationMessages.html">
			{% for name, errors in view.getJavascriptValidation() %}
				<div ng-messages="{{name}}.$error">

					{% for type, message in errors %}
						<p ng-message="{{type}}">{{ message }}</p>
					{% endfor %}
				</div>
			{% endfor %}
		</script>
</body>
</html>
